@theme {
    --text-xs: 9px;
    --text-sm: 12px;
    --text-md: 14px;
    --text-lg: 16px;
    --text-xl: 18px;
    --text-2xl: 20px;
    --text-3xl: 24px;
    --text-4xl: 28px;

    --leading-15: 15px;
    --leading-20: 20px;
    --leading-30: 30px;
    --leading-32: 32px;
}
